@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #fffdbe;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 50px 0;
}

h1 {
	font-size: 36px;
	font-weight: 600;
	color: #1F1F1F;
	text-align: center;
	margin-bottom: 30px;
}

input[type="text"] {
	padding: 15px;
	border: none;
	border-radius: 10px;
	width: 70%;
	margin-right: 10px;
	font-size: 16px;
	color: #1F1F1F;
}

button {
	padding: 15px 20px;
	background-color: #FFB6C1;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #1F1F1F;
	cursor: pointer;
}

button:hover {
	background-color: #FFC3CE;
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 30px;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-radius: 10px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

li span.task {
	font-size: 18px;
	color: #1F1F1F;
}

li button {
	padding: 10px;
	background-color: #F8F7F7;
	border: none;
	border-radius: 50%;
	color: #1F1F1F;
	font-size: 24px;
	cursor: pointer;
}

li button:hover {
	background-color: #FFC3CE;
}

li.done span.task {
	text-decoration: line-through;
}
